<footer class="footer-app-h24">
  <div class="wr-footer">
    <div class="footer-license" data-i18n="footer.license">
      © 2024 PrivatBank License No. 22 dated 05.10.2011
    </div>
    <ul class="footer-list">
      <li class="footer-item">
        <a
          class="footer-item-link"
          data-i18n="footer.policy"
          href="https://en.privatbank.ua/personal-information"
          >Privacy policy</a
        >
      </li>
      <li class="footer-item">
        <a
          class="footer-item-link"
          data-i18n="footer.tariffs"
          href="https://privatbank.ua/business/vidkryttia-rakhunku"
          >Regulations/Tariffs</a
        >
      </li>
      <li class="footer-item">
        <a
          class="footer-item-link"
          data-i18n="footer.сonditions"
          href="https://privatbank.ua/terms?parentid=130&level=1&ln=ua"
          >Terms and Conditions</a
        >
      </li>
      <li class="footer-item">
        <a
          class="footer-item-link"
          data-i18n="footer.security"
          href="https://privatbank.ua/safeness"
          >Security rules</a
        >
      </li>
    </ul>
  </div>
</footer>
